.contact-form .input textarea,
.contact-form .input select,
.contact-form .input input {
  height: 51px;
  padding: 10px 16px;
  background: #fff;
}

.contact-form .input textarea::placeholder,
.contact-form .input input::placeholder {
  color: #868E96;
}

.contact-form .input textarea:focus-visible,
.contact-form .input select:focus-visible,
.contact-form .input input:focus-visible {
  outline: none;
}

.contact-form .input select {
  padding: 10px;
  padding-right: 30px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xMC41OTM4IDAuMDc4MTI1TDEyIDEuNDg0MzhMNiA3LjQ4NDM4TDAgMS40ODQzOEwxLjQwNjI1IDAuMDc4MTI1TDYgNC42NzE4OEwxMC41OTM4IDAuMDc4MTI1WiIgZmlsbD0iIzg2OEU5NiIvPgo8L3N2Zz4K');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

.contact-form .input textarea {
  resize: none;
  height: 7em;
}

.contact-form label.required::after {
  content: '*';
  margin-left: 2px;
  color: var(--color-red-error)
}
